<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->

<head>
  <!-- HEAD -->
  <%- include("partials/head") %>
    <!-- link para cargar los css  -->
    <!-- <link rel="stylesheet" href="/css/partials/header.css"> -->
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>炎ATLAS炎</title>
</head>

<body>
  <!--    HEADER  -->
  <%- include("partials/header") %>

    <main>
      <!-- inicio de carrcel -->
      <div class="carousel-wrapper">
        <div class="contenedor-carrusel">
          <img src="/img/carucel02.png" alt="Imagen">
        </div>
      </div>
      <!-- fin de carrcel -->

      <!-- Contenedor de los productos -->
      <div class="contenedor-articulo">
        <% products.forEach(product=> { %>
          <article class="producto">

            <div class="contenedor-producto">
              <a href="/producto/<%= product.id %>">
                <img src="/img/productos/<%= product.image %>" alt="">
              </a>
              <div class="detalles">
                <div class="nombre">
                  <a href="/producto/<%= product.id %>">
                    <p>
                      <%= product.name %>
                    </p>
                  </a>
                </div>
                <div class="precio">
                  <p> $ <%= product.price %>
                  </p>
                </div>
              </div>
            </div>
          </article>
          <% }) %>

      </div>
      <!-- Productos01 -->


      <!-- Botón con la imagen -->
      <!-- <a href="https://chat.whatsapp.com/Bg7AfwgEvoiFvSxENXjvJT" class="boton-imagen">
        <img src="/img/whasapp.png" alt="Botón con Imagen">
    </a>
 -->


    </main>

    <!--SE INCLUYE FOOTER-->
    <%- include("partials/footer") %>



</body>

</html>