<!DOCTYPE html>
<html lang="en">

<head>
  <!-- HEAD -->
  <%- include("partials/head") %>
    <!-- link para cargar los css  -->
    <link rel="stylesheet" href="/css/producto.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title> Producto </title>
</head>

<body>
  <!--    HEADER  -->
  <%- include("partials/header") %>

    <main>
      <div class="detalle-juego">
        <div class="titulo-del-juego">
          <h2>
            <%= product.name %>
          </h2>
        </div>


        <!-- carucel de fotos   -->

        <div class="carrusel-todo">
          <div class="carrusel">
            <ul class="carrusel-fotos">
              <li class="" id="foto1"><img src="/img/productos/<%= product.image %>" alt=""></li>
              <li id="foto2"><img src="/img/productos/<%= product.image %>" alt=""></li>
              <li id="foto3"><img src="/img/productos/<%= product.image %>" alt=""></li>
              <li id="foto4"><img src="/img/productos/<%= product.image %>" alt=""></li>
              <li id="foto5"><img src="/img/productos/<%= product.image %>" alt=""></li>

            </ul>
          </div>

          <ul class="carrusel-menu">
            <li><a href="#foto1"><img src="/img/productos/<%= product.image %>" alt=""></a></li>
            <li><a href="#foto2"><img src="/img/productos/<%= product.image %>" alt=""></a></li>
            <li><a href="#foto3"><img src="/img/productos/<%= product.image %>" alt=""></a></li>
            <li><a href="#foto4"><img src="/img/productos/<%= product.image %>" alt=""></a></li>
            <li><a href="#foto5"><img src="/img/productos/<%= product.image %>" alt=""></a></li>

          </ul>

          <div class="botones-container">
            <div class="precio-comprar">
              <div class="precio">
                <h2>
                  $ <%= product.price %>
                </h2>
              </div>
              <a href="http://localhost:3060/carrito" class="btn btn-an cmpr">COMPRAR AHORA</a>

            </div>

            <div class="favorito-carrito">
              <a href="http://localhost:3060/carrito" class="btn btn-an agr">AGREGAR AL CARRITO</a>
              <a href="http://localhost:3060/listaDeDeseos" class="btn btn-an ld">A LA LISTA DE DESEOS</a>
            </div>
            <div class="editar-eliminar">
              <a href="/editar/<%= product.id %>" class="btn btn-an ed">Editar</a>
              <form action="/eliminar/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-an">Eliminar</button>
                <!-- <a href="/biblioteca" class="btn btn-5">Eliminar juego</a> -->
              </form>
            </div>
          </div>

        </div>
        <!-- fin de carucel   -->



        <!-- inicio de botones    -->

        <!--  <style>
          .btn {
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
          }

           .btn-1 {
            color: #ffffff;
            font-family: 'Bauhaus 93', sans-serif;

          }

          .btn-2 {
            color: #ffffff;
            font-family: 'Bauhaus 93', sans-serif;

          }

          .btn-3 {
            color: #ffffff;
            font-family: 'Bauhaus 93', sans-serif;

          }

          .btn-4 {
            color: #ffffff;
            font-family: 'Bauhaus 93', sans-serif;

          }

          .btn-5 {
            color: #ffffff;
            font-family: 'Bauhaus 93', sans-serif;
          } 
        </style>
 -->



        <!-- fin de botones    -->

      </div>

      <div class="descripcion-juego">
        <h1 class="titulo-juego">
          <%= product.name %>
        </h1>

        <div class="caracteristicas">
          <h2 class="subtitulo">Características del Juego:</h2>
          <ul>
            <%= product.description %>
          </ul>
        </div>

        <div class="historia">
          <h2 class="subtitulo">Historia:</h2>
          <p>
            <%= product.history %>
          </p>
        </div>

      </div>

    </main>
</body>

</html>