<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/register.css">
  <title>炎Registro炎</title>
  <link rel="shortcut icon" href="/img/logo-tienda.png">

  <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="reg-title">
     <h1>Registrarse</h1>
  </div>

 <div class="form-contacto">

  <form action="/register" method="POST" enctype="multipart/form-data">
    <label class="texto">Nombre</label>
    <input 
      type="text" 
      id="nombre" 
      name="nombre" 
      class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
      value="<%= locals.oldData ? oldData.nombre : null %>"
      placeholder="ingrese su nombre">

    <% if (locals.errors && errors.nombre) { %>
      <div class="text-danger">
        <%= errors.nombre.msg %>
      </div>
      <% } %>

        <label class="texto">Apellidos</label>
        <input type="text" id="apellido" name="apellido" class="apellido"
        value="<%= locals.oldData ? oldData.apellido : null %>" placeholder="ingrese su apellido">
        <% if (locals.errors && errors.apellido) { %>
          <div class="text-danger">
            <%= errors.apellido.msg %>
          </div>

          <% } %>

           <input type="file" id="imgPerfil" name="imgPerfil">
           <% if (locals.errors && errors.imgPerfil) { %>
            <div class="text-danger" style="color: rgb(246, 13, 98);">
              <%= errors.imgPerfil.msg %>
            </div>

            <% } %>

            <label class="texto" for="email">Correo electrico</label>
            <input type="email" id="correo" name="correo" placeholder="example@gmail.com"
            value="<%= locals.oldData ? oldData.correo : null %>">
            <% if (locals.errors && errors.correo) { %>
              <div class="text-danger">
                <%= errors.correo.msg %>
              </div>

              <% } %>

                <label class="texto">Crear contraseña</label>
                <input type="password" id="contrasena" name="contrasena" placeholder="ingrese una contraseña">
                <% if (locals.errors && errors.contrasena) { %>
                  <div class="text-danger">
                    <%= errors.contrasena.msg %>
                  </div>

                  <% } %>

                    <!-- <label class="texto">Repita la contraseña</label>
      <input type="password" placeholder=""> -->
                    <!-- <input class="texto" type="checkbox"> Acepto los <a
        href="https://store.steampowered.com/subscriber_agreement/spanish/">terminos y condiciones</a> -->
        
                   <input class="enviar" type="submit" value="Crear usuario">

  </form>

 </div class='psesion'>
      <p>¿Ya tienes una cuenta? <a style="text-decoration: none; color: rgb(255, 145, 0);" href="inicioDeSesion">Inicia sesión aquí</a></p>
  <div>

    <a href="https://accounts.google.com/ServiceLogin">
      <button class="buttonmail" type="submit">
        <span>Registrarse con gmail</span>
        <i class="fa-brands fa-google"></i>
      </button>
    </a>
    <a href="https://www.facebook.com/">
      <button type="submit" class="buttonface">
        <span>Continua con Facebook</span>
        <i class="fa-brands fa-facebook"></i>
      </button>
    </a>
  </div>

</body>

</html>